html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.color-container {
    display: flex;
    flex-direction: column;
    height: 550px;
    z-index: 0
}

.color-scheme {
    display: grid;
    grid-template: repeat(12,1fr) / repeat(5,1fr);
}

.hex-values {
    text-align: center;
}

.controls {
    border-bottom: 1px solid #d1d5db;
    padding-bottom: 0;
    height: 90px;
    width: 550px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

#base-color {
    width: 61px;
    height: 42px;
}

#scheme-type {
    width: 312px;
    height: 42px;
    font-size: 16px;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 6px;
}

#generate-btn {
    width: 123px;
    height: 42px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 4px;
}

.color {
    width: 110px;
    height: 150px;
    grid-row: span 10;
    min-height: 550px;
}

.hex-value {
    grid-row: span 2;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    padding: 20px;
}